
<!-- currently playing movies carousel -->
<app-first-carousel></app-first-carousel>

<!-- add continue watching section - only if localStorage -->
<app-second-carousel *ngIf="get_id_array.length > 0"></app-second-carousel>

<!-- popular movies section -->
<app-third-carousel></app-third-carousel>


<!-- top rated movies section -->
<app-fourth-carousel></app-fourth-carousel>


<!-- trending movies section -->
<app-fifth-carousel></app-fifth-carousel>


<!-- popular tv shows section -->
<app-sixth-carousel></app-sixth-carousel>


<!-- top rated tv shows section -->
<app-seventh-carousel></app-seventh-carousel>


<!-- trending tv shows section -->
<app-eighth-carousel></app-eighth-carousel>

<!-- done -->